.toggle .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #404040;
    clear: both;
    background-color: #e7f2fa;
}

.toggle .header p {
    margin-bottom: 0px !important;
    padding: 5px;
}

.toggle .header:hover {
    cursor: pointer;
}

.toggle .header::after {
    content: " ▶";
    margin-right: 1%;
}

.toggle .header.open::after {
    content: " ▼";
}
